
<nav class="navbar">
<h1>Comments</h1>
<div><%= link_to 'Back to photo', @photo %></div>
<%= link_to 'Home', root_path %>
</nav>
<p id="notice"><%= notice %></p>

<section class="comments">
  <%= render @comments, photo: @photo %>
  <%= render 'form', comment: @new_comment %>
</section>
